<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja voluntário</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main class="container">
        <header class="header row">
            <a href="/">
                <img src="/assets/images/logo.png" alt="Logo do seja voluntário">
                <h1 class="text-red text-shadow">Seja Voluntário</h1>
            </a>
        </header>
        
        <section class="cta flex row">
            <article>
                <h2 class="text-blue">Busque vagas de voluntariado.</h2>
                <p>
                    Busque uma vaga perto de você, e tome uma atitude transformadora ajudando o próximo.
                </p>
                <a class="btn btn-blue" href="busca">Quero ser voluntário</a>
            </article>
            <article>
                <h2 class="text-green">Anuncie vagas de voluntariado.</h2>
                <p>
                    Você que é de uma ONG ou instituição filantrópica,
                    cadastre suas vagas para encontrar voluntários aí perto de você.
                </p>
                <a class="btn btn-green" href="cadastro">Quero anunciar</a>
            </article>
        </section>
        
        <section class="notices row">
            <h3 class="text-red">Últimos anúncios de vagas.</h3>
            <div class="grid grid-col-3">
                {{#each vagas}}
                <article class="notice" style="border: 1px solid #bbb; border-radius: 10px; padding: 20px;">
                    <h4>{{this.titulo}}</h4>
                    <p class="city">
                        <strong>{{this.cidade}}</strong>
                    </p>
                    <p>
                        {{this.descricao}}
                    </p>
                    <P>
                        <a class="btn btn-red" href="/anuncio/{{this.id}}">Saiba mais</a>
                    </P>
                </article>
                {{/each}}
            </div>
        </section>
        
        <footer class="footer">
            <p>
                <strong>Seja Voluntário</strong> feito com amor em Vila Valério
            </p>
        </footer>
    </main>
</body>
</html>